.wrapper {
  width: 100%;

  background: #f0f0f0;
}

.vehicles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.map {
  width: 100%;
  height: 500px;
}
